<!-- login.component.html -->
<div class="login-container bg-slate-900 px-4">
  <div class="h-screen items-center justify-center flex">

        <form class="basis-full sm:basis-6/12 lg:basis-4/12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <fieldset class="grid grid-cols-2 mb-6">
            <label class="justify-start text-white" for="username">Username</label>
            <a class="flex justify-end cursor-pointer text-lime-500">Sign-up</a>
            <input
              id="username" 
              type="text"
              formControlName="username" 
              class="form-control" 
              placeholder="Enter your username" 
              class="mt-2 col-span-2 border border-slate-800 text-white focus:text-black w-full rounded-md p-2 bg-slate-800 focus:border-white focus:bg-white focus:outline-0"
            />
          </fieldset>
    
          <fieldset class="grid grid-cols-2 mb-6">
            <label class="justify-start text-white" for="password">Password</label>
            <a class="flex justify-end cursor-pointer text-lime-500">Forgot password?</a>
            <input 
              id="password" 
              type="password" 
              formControlName="password" 
              class="form-control" 
              placeholder="Enter your password"
              class="mt-2 col-span-2 border border-slate-800 text-white focus:text-black w-full rounded-md p-2 bg-slate-800 focus:border-white focus:bg-white focus:outline-0"
            />
          </fieldset>
          <div class="flex justify-between items-center">
            <p class="text-lime-500">Need an activation code?</p>
            @if (loading) {
              <button type="link" class="">loading ...</button>
            } @else {
              <button type="submit" class="bg-gradient-to-br from-lime-500 to-lime-600 cursor-pointer rounded-md p-2">Sign in</button>
            }
          </div>
          
          @if (error) {
            <p class="bg-red-600 p-2 rounded-md text-white mt-6">Username or password is incorrect</p>
          }

        </form>

    </div>
  </div>
  